{# app/Resources/views/pasosboda.html.twig #}

<div class="container" style="padding-top:30px; padding-bottom:10px; padding:30px;">
    <div class="row">
		<div class="col-sm-6 col-md-3" id="pasosBoda" style="background-image:url('{{ asset('img/1-1.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;">Crea tu mesa de regalos</div>
		<div class="col-sm-6 col-md-3" id="pasosBoda" style="background-image:url('{{ asset('img/2-2.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;">Planea tu boda</div>
		<div class="col-sm-6 col-md-3" id="pasosBoda" style="background-image:url('{{ asset('img/3-3.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;">Busca la mesa de los novios</div>
		<div class="col-sm-6 col-md-3" id="pasosBoda" style="background-image:url('{{ asset('img/4-4.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;">Ingresa a tu página</div>
    </div>
</div>