<div class="row">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-2">
		<img class="carrito2" src="{{asset('img/novios/nuestras_compras.png')}}">
	</div>
	<div class="col-xs-3">
		<div class="artcarrito2">
			<span class="art">0 </span>Artículos en tu carrito <br> <span class="art">NewlyWishes</span>
		</div>
	</div>
	<div class="col-xs-2">
		<input class="enviar2" type="submit" id="enviar_form" value="Checkout" style="width:120px;"> <br>
	</div>
</div>