<div style="border: .2em solid gray; width: 94%; margin: .28em auto; font-family: sans-serif;">
	<div style="border-bottom: .2em solid gray; padding: 2em;">
		<div style="padding-bottom: .21em; margin-bottom: 1.3em; border-bottom: .2em solid #c09;">
			<div style="width:48%; display: inline-block; line-height: 1.6em;">
				<span style="color:rgb(79, 79, 79); font-size:1.8em;">Notificaciones</span>
				<br>
				<span style="color: #c09; font-size:1.5em;">{{today()}}</span>
			</div>
			<div style="width:49%; display: inline-block;">
				<img src="{{app.request.getSchemeAndHttpHost() ~ asset('img/logo_small.jpg')}}" style="width:90%">
			</div>
		</div>
		<div>
			<span style="color:rgb(79, 79, 79); font-size:1.4em;">{% block subject %}{% endblock %}</span>
			<p style="text-align: center;font-size: 1em; color:rgb(79, 79, 79); margin-top: 1.2em;">
				{% block contenido %}{% endblock %}
			</p>
			<div style="font-size: .16em; color:rgb(79, 79, 79); font-style: italic; text-align: right; width: 100%; margin-top: .48em; margin-bottom: 1.1em;">El equipo de Newly<span style="color: #c09;">W</span>ishes</div>
		</div>
	</div>
	<div style="padding: 2em; color: gray; font-size: .9em; background-color:rgb(232, 232, 232);">
		<p>Estás recibiendo este mensaje de correo electrónico por haber hecho uso de los servicios de NewlyWishes, con base en la aceptación de los términos y condiciones de uso.</p>
		<p>Recuerda que NewlyWishes nunca te pedirá que envíes datos personales, de cuenta o financieros a través de correo electrónico. Puedes consultar nuestro aviso de privacidad en www.newlywishes.com. Si tienes aglún comentario o duda, ponemos a tu disposición el siguiente correo electrónico: atencion@newlywishes.com</p>
		<p>NewlyWishes y su logotipo son marcas registradas.</p>
	</div>
</div>