.fc-border-separate{
	border: none:!important;
}

.fc-content td{
	padding: 5px!important;
}

th{
	border: solid 1px #e2e2e2;
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	font-size: 20px;
	font-weight: normal!important;
	color: rgb(204,0,153);
}

h2{
	text-transform: none!important;
	color: rgb(204,0,153);
	font-size: 26px;
}
.fc-button, .fc-button-prev, .fc-state-default, .fc-corner-left, .fc-corner-right, .fc-state-down{
	border: none!important;
	height: 35px!important;
	background: none!important;
	box-shadow: none!important;
}
.fc-day{
	font-size: 16px!important;
	color: rgb(156, 156, 156)!important;
}
.fc-grid .fc-other-month .fc-day-number {
	opacity: .6!important;
}
.fc-event {
	border: 1px solid rgb(235, 169, 218);
	background-color: rgb(235, 169, 218);
	color: #fff;
	font-size: 11px!important;
	font-weight: bold;
}
.fc-event>a:hover, .fc-event>a:focus{
	color: #fff!important;
}
.fc-state-highlight {
	background: rgb(228, 228, 228)!important;
}
.diaBoda{
	background: rgb(235, 169, 218);
}
span.arrow-left {
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 16px solid #CC0099;
    font-size: 0;
    line-height: 0;
}
span.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 16px solid #CC0099;
    font-size: 0;
    line-height: 0;
}