{# src/NW/PrincipalBundle/Resources/views/registronovios.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
		{% include ':plantillasParciales:top.html.twig' %}

		<div class="container" style="margin-top:0px; margin-bottom:0px; padding-left:50px; padding-right:50px; background-color:rgba(255,255,255,1);">
      		<form action="validar_registro_novios.php" method="post">
	      		<div class="row">
	        		<div class="col-md-10">
	        			<h1><img src="{{ asset('img/registro.jpg') }}" alt="Registro" width="210"></h1><br />
						Si son una pareja que quiere simplificar la planeación de su boda, por favor regístrense.
	        		</div>
	      		</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-8">
							<h3>Datos de la Novia:</h3>
					</div>
				</div>
	      
			    <div class="row">
			        <div class="col-md-4">
			        	<input type="text" name="m_nombre" placeholder="Nombre" id="input_registro_novios"/>
				        <input type="text" name="m_snombre" placeholder="Segundo Nombre" id="input_registro_novios"/>
				        <input type="text" name="m_apellido_paterno" placeholder="Apellido Paterno" id="input_registro_novios"/>
				        <input type="text" name="m_apellido_materno" placeholder="Apellido Materno" id="input_registro_novios"/>
			        </div>
			        <div class="col-md-4">
				        <input type="text" name="m_email" placeholder="E-Mail" id="input_registro_novios"/>
						<input type="text" name="m_lada" maxlength="3" placeholder="LADA" id="input_registro_novios" style="width:20%;"/>
						<input type="text" name="m_telefono_personal" maxlength="8" placeholder="Teléfono de casa u oficina" id="input_registro_novios" style="width:74%;"/>
						<input type="text" name="m_celular" maxlength="10" placeholder="Teléfono celular" id="input_registro_novios"/>
			        </div>
			        <div class="col-md-4">
				        <input type="text" name="m_direccion" placeholder="Dirección completa" id="input_registro_novios"/>
						País:&nbsp;
				        <select name="m_pais" id="input_registro_novios" style="width:70%;">
				        	<option value="1" selected="">México</option>
			            </select>
			            <br />
				        Estado:
				        <select name="m_estado" id="input_registro_novios" style="width:70%;">
					        <option value="1">Aguascalientes</option>    
					        <option value="2">Baja California</option> 
					        <option value="3">Baja California Sur</option>    
					        <option value="4">Campeche</option>      
					        <option value="5">Coahuila de Zaragoza</option>     
					        <option value="6">Colima</option>    
					        <option value="7">Chiapas</option>    
					        <option value="8">Chihuahua</option>     
					        <option value="9">Distrito Federal</option>      
					        <option value="10">Durango</option>   
					        <option value="11">Guanajuato</option>   
					        <option value="12">Guerrero</option>  
					        <option value="13">Hidalgo</option>     
					        <option value="14">Jalisco</option>   
					        <option value="15">México</option>
					        <option value="16">Michoacán de Ocampo</option>
					        <option value="17">Morelos</option>  
					        <option value="18">Nayarit</option>      
					        <option value="19">Nuevo León</option>     
					        <option value="20">Oaxaca</option>     
					        <option value="21">Puebla</option>       
					        <option value="22">Querétaro</option>       
					        <option value="23">Quintana Roo</option>       
					        <option value="24">San Luis Potosí</option>      
					        <option value="25">Sinaloa</option>
					        <option value="26">Sonora</option>   
					        <option value="27">Tabasco</option>     
					        <option value="28">Tamaulipas</option>    
					        <option value="29">Tlaxcala</option>        
					        <option value="30">Veracruz de Ignacio de la Llave</option>     
					        <option value="31">Yucatán</option>
					        <option value="32">Zacatecas</option>
			            </select>
			    		<input type="text" name="m_ciudad" placeholder="Municipio o Delegación" id="input_registro_novios"/>
			        	<input type="text" name="m_cp" maxlength="5" placeholder="Código postal" id="input_registro_novios"/>
			        </div>
			    </div>

				<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<h3>Datos del Novio:</h3>
					</div>
				</div>  
				<div class="row">
					<div class="col-md-4">
				        <input type="text" name="h_nombre" placeholder="Nombre" id="input_registro_novios"/>
						<input type="text" name="h_snombre" placeholder="Segundo Nombre" id="input_registro_novios"/>
						<input type="text" name="h_apellido_paterno" placeholder="Apellido Paterno" id="input_registro_novios"/>
						<input type="text" name="h_apellido_materno" placeholder="Apellido Materno" id="input_registro_novios"/>
					</div>
					<div class="col-md-4">
					    <input type="text" name="h_email" placeholder="E-Mail" id="input_registro_novios"/>
						<input type="text" name="h_lada" maxlength="3" placeholder="LADA" id="input_registro_novios" style="width:20%;"/>
						<input type="text" name="h_telefono_personal" maxlength="8" placeholder="Teléfono de casa u oficina" id="input_registro_novios" style="width:74%;"/>
						<input type="text" name="h_celular" maxlength="10" placeholder="Teléfono celular" id="input_registro_novios"/>
					</div>
					<div class="col-md-4">
					    <input type="text" name="h_direccion" placeholder="Dirección completa" id="input_registro_novios"/>
						País:&nbsp;
				        <select name="m_pais" id="input_registro_novios" style="width:70%;">
				        	<option value="1" selected="">México</option>
			            </select>
			            <br />
				        Estado:
				        <select name="m_estado" id="input_registro_novios" style="width:70%;">
					        <option value="1">Aguascalientes</option>    
					        <option value="2">Baja California</option> 
					        <option value="3">Baja California Sur</option>    
					        <option value="4">Campeche</option>      
					        <option value="5">Coahuila de Zaragoza</option>     
					        <option value="6">Colima</option>    
					        <option value="7">Chiapas</option>    
					        <option value="8">Chihuahua</option>     
					        <option value="9">Distrito Federal</option>      
					        <option value="10">Durango</option>   
					        <option value="11">Guanajuato</option>   
					        <option value="12">Guerrero</option>  
					        <option value="13">Hidalgo</option>     
					        <option value="14">Jalisco</option>   
					        <option value="15">México</option>
					        <option value="16">Michoacán de Ocampo</option>
					        <option value="17">Morelos</option>  
					        <option value="18">Nayarit</option>      
					        <option value="19">Nuevo León</option>     
					        <option value="20">Oaxaca</option>     
					        <option value="21">Puebla</option>       
					        <option value="22">Querétaro</option>       
					        <option value="23">Quintana Roo</option>       
					        <option value="24">San Luis Potosí</option>      
					        <option value="25">Sinaloa</option>
					        <option value="26">Sonora</option>   
					        <option value="27">Tabasco</option>     
					        <option value="28">Tamaulipas</option>    
					        <option value="29">Tlaxcala</option>        
					        <option value="30">Veracruz de Ignacio de la Llave</option>     
					        <option value="31">Yucatán</option>
					        <option value="32">Zacatecas</option>
			            </select>
						<input type="text" name="h_ciudad" placeholder="Municipio o Delegación" id="input_registro_novios"/>
						<input type="text" name="h_cp" placeholder="Código postal" id="input_registro_novios"/>
			        </div>
			    </div>

				<div class="row" style="margin-top:20px;">
			        <div class="col-md-10">
			        	<h3>Datos de Usuario:</h3>
			        </div>
				</div>
					      
				<div class="row">
					<div class="col-md-4">
						<input type="text" name="usuario" placeholder="Usuario" id="input_registro_novios"/>
						<input type="password" name="password" placeholder="Contraseña" id="input_registro_novios"/>
					</div>
					<div class="col-md-4">
						<input type="text" name="preguntas" placeholder="Pregunta Secreta" id="input_registro_novios"/>
						<input type="text" name="respuestas" placeholder="Respuesta Secreta" id="input_registro_novios"/>
					</div>
					<div class="col-md-4">
						<input type="checkbox" name="terminos1" value="1">&nbsp;&nbsp;He leido y acepto los términos y condiciones<br>
						<input type="checkbox" name="terminos2" value="1">&nbsp;&nbsp;He leido y acepto los términos de privacidad<br>
						<input type="submit" value="enviar" id="enviar_form" style="margin-top:10px;"/>
					</div>
				</div>
			</form>
		</div><!-- CONTAINER -->

	{% endblock %}