{# src/NW/PrincipalBundle/Resources/views/Proveedores/micuenta.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
				<div class="row">
					<div class="col-md-4">
						<h4>Plan contratado:<span class="esc">Básico</span></h4>
					</div>
					<div class="col-md-3">
						<h5><span class="esc">Editar</span></h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<strong class="esc"> Mis Datos </strong>
					</div>
					<div class="col-md-3">
						<span class="esc"> Editar </span>
					</div>
				</div>
				<hr />
				<h5>Tipo de persona:<span class="esc"> Persona física </span></h5>
				<h5>Nombre / Razón social:<span class="esc"> Empresa, S.A. de C.V. </span></h5>
				<h5>Email:<span class="esc"> empresa@email.com </span></h5>
				<h5>Teléfono oficina:<span class="esc"> (55) 5555 5555 </span></h5>
				<h5>Teléfono celular:<span class="esc"> 5555 5555 </span></h5>
				<h5>RFC:<span class="esc"> ABCD023456123 </span></h5>
				<h5>Dirección:<span class="esc"> calle y número </span></h5>
				<h5>País:<span class="esc"> México </span></h5>
				<h5>Estado:<span class="esc"> D.F. </span></h5>
				<h5>Municipio / Delegación:<span class="esc"> Municipio </span></h5>
				<h5>Ciudad:<span class="esc"> Ciudad </span></h5>
				<h5>Código postal:<span class="esc"> 12345 </span></h5>
				<div class="row">
					<div class="col-md-9">
						<strong class="esc"> Mi Imagen </strong>
					</div>
					<div class="col-md-3">
						<span class="esc"> Editar </span>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-3">
						<span> Logo </span>
					</div>
					<div class="col-md-3">
						<span> Nombre Comercial </span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<img class="ejlogo" src="{{asset('img/ejlogo.jpg')}}">
					</div>
					<div class="col-md-3">
						<h3 class="esc">Nombre de la empresa</h3>
					</div>
				</div>
				Descripción de los que ofreces
				<br>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, molestias, quos, amet, sapiente eius odio doloremque pariatur temporibus illum cum quasi ipsam blanditiis eos. Facere, doloremque reprehenderit cumque alias accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, neque ab architecto dolorum excepturi natus aspernatur beatae repellat sed libero! Placeat sit consequatur consequuntur obcaecati sed eveniet beatae fugiat iste!
				<br>
				<br>
				<br>
				<h5>Galería de imágenes</h5>
				<br>
				<br>
				<br>
				<h4 class="esc"> Mi Contraseña </h4>
				<hr />
				<span class="esc"> Cambiar contraseña </span >
				<br>
				<br>
				<br>
				<br>
				Define contraseña; ésta debe estar compuesta por 8 números y/o letras y NO debe haber 3 dígitos consecutivos (p.ej. 987 ó 123) ni repetidos (p.ej. 333)
				<br>
				<br>
				<br>
				<br>

</div>
</div>
		</div>
		</div>


	    

	{% endblock %}