{# src/NW/PrincipalBundle/Resources/views/Proveedores/miinformacionbancaria.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
			<div class="container">
				<div class="flow">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1 class="art">Mi Información Bancaria</h1>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="row">
					<div>
						<h1 class="art">
							Mis Cuentas Bancarias
						</h1>
					</div>
					<hr />
				</div>
				<div class="flow">
					<p class="col-md-12 parrafo">
						En caso de que vendas algún producto o servicio con nosotros, podrás disponer del dinero en el momento que quieras. Tu cuenta CLABE servirá para poder transferir tu dinero a tu cuenta bancaria
					</p>
				</div>
				
			











	{% endblock %}