{# src/NW/PrincipalBundle/Resources/views/Proveedores/misanuncios.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
		<div class="row">
			<div class="col-md-6">
			
			</div>
			<div class="col-md-1">
				<img class="puntov" src="{{asset('img/puntov.png')}}">
			</div>
			<div class="col-md-3">
				<h1>Mis Anuncios</h1>	
			</div>
			<div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<p>Sitio vinculado al anuncio: <span class="art">www.sitio.com</span></p>
			</div>
			<div class="col-md-5">
				
			</div>
			<div class="col-md-4">
				<img src="{{asset('img/anuncio.jpg')}}" alt="">
			</div>
			<div class="col-md-7">
					
			</div>
			<div class="col-md-2">
				<a class="art3" data-toggle="modal" data-target="#anuncio"><h5 class="art">Editar</h5></a>
			</div>
			<div class="col-md-6">
				<br>
				<p>Copia y pegar este código en tu página de internet, para redirigir a tus clientes a tu micrositio de NewlyWishes y para que puedan adquirir tus productos y servicios</p>
			</div>
			<div class="col-md-12">

			</div>
			<div class="col-md-12 cajatexto img-responsive">
				https://...
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>


		<!-- Editar anuncio-->
		<!-- Button trigger modal -->
		<!-- Modal -->
		<div class="modal fade" id="anuncio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
		      <div class="modal-header2">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <div class="col-xs-7">
		        	<h4 class="modal-title rosa" id="anuncio">Editar anuncio</h4>
		        </div>
		        <div class="col-xs-5">
	        		<img class="logo-modal" src="{{asset('img/nw.png')}}">	
		        </div>
		      </div>
		      
		      <div class="modal-body">
		      	<div class="row">
		      		<div class="col-xs-9 left3">
		      			<input type="submit" id="enviar_form" value="Seleccionar Archivo" style="width:120px;"> <br>
		      		</div>
		      		<div class="col-xs-8">
		      			<input type="text" id="EdicionProveedor_cp" name="EdicionProveedor[cp]" required="required" maxlength="5" class="input_registro_novios input5 left4" placeholder="www.sitio externo.com">
		      		</div>
		      		<div class="col-xs-2">
		      			<input class="logo2" type="submit" id="enviar_form" value="Aceptar" style="width:120px;">
		      		</div>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
			<!-- FIN CARGA DE ARTICULOS -->

	{% endblock %}