{# src/NW/PrincipalBundle/Resources/views/Proveedores/misproductos.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
			<div class="container">
				<div class="flow">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1">
						<img class="puntov" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1>Mis Productos / Servicios</h1>	
					</div>
				</div>
				<div class="flow">
					<div class="col-md-2">
					<p class="verde">Carga masiva</p>	
					</div>
					<div class="col-md-5">
						<p class="mas">+</p>
					</div>
					<div class="col-md-10">
						<h5 class="art">Articulo 1</h5>	
					</div>
					<div class="col-md-2">
						<h5 class="art">Editar</h5>	
					</div>
				</div>
			</div>	
			<hr />
			<div class="flow">
				<p>Descripción: </p>
			</div>


	    

	{% endblock %}