{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestro-calendario.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				<div class="flow">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1>
							Nuestro Calendario
						</h1>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="row">
					<div>
						<h3 class="rojo">
							Pendientes para este día -<span class="art">3 enero 2013</span>
						</h3 >
					</div>
					<hr />
					<div class="col-xs-6">
						Ir a cita de prueba de vestido <br>
						Ir con estilista para prueba de peinado 
					</div>
					 <div class="col-xs-6">
					 	09:00 <br>
					 	11:00
					 </div>
					 <br>
					 <br>
					 <br>
					 <br>
					 <br>
					 <br>
					 <br>
					 <p class="verde">
					 	Ver detalle / agregar / modificar compromisos de este día
					 </p>
					 <hr />
					 

						



{% endblock %}