{# src/NW/PrincipalBundle/Resources/views/Proveedores/misanuncios.html.twig #}

{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}
		
		<div class="row">
			<div class="col-md-6">
			
			</div>
			<div class="col-md-1">
				<img class="puntov" src="{{asset('img/puntov.png')}}">
			</div>
			<div class="col-md-3">
				<h1>Mis Anuncios</h1>	
			</div>
			<div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<p>Sitio vinculado al anuncio: <span class="art">www.sitio.com</span></p>
			</div>
			<div class="col-md-5">
				
			</div>
			<div class="col-md-4">
				<img src="{{asset('img/anuncio.jpg')}}" alt="">
			</div>
			<div class="col-md-7">
					
			</div>
			<div class="col-md-2">
				<h5 class="art">Editar</h5>	
			</div>
			<div class="col-md-6">
				<br>
				<p>Copia y pegar este código en tu página de internet, para redirigir a tus clientes a tu micrositio de NewlyWishes y para que puedan adquirir tus productos y servicios</p>
			</div>
			<div class="col-md-12">

			</div>
			<div class="col-md-12 cajatexto img-responsive">
				https://...
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endblock %}