{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestra-informacion-bancaria.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1>
							Nuestra Cuenta
						</h1>
					</div>
					<div class="col-md-6">
						
					</div>
					<div class="col-md-6">
			
					</div>
					<div class="col-md-6">
					
					</div>
					<div class="col-md-5">
						
					</div>
					<div class="col-md-1">
						
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<h1>
							Nuestros datos
						</h1>
					</div>
					<div class="col-xs-2">
						<h5 class="art bote2">
							Editar
						</h5>
					</div>
				</div>
				<hr/>
				<div class="row">
					<p>
						<br>
						<span class="art">La Novia</span> <br> <br>
						Nombre: <span class="art">Nombre completo de la novia</span> <br> <br>
						Email: <span class="art">empresa@email.com</span> <br> <br>
						Teléfono oficina: <span class="art">(55)5555 5555</span> <br> <br>
						Teléfono celular: <span class="art">5555 5555</span> <br> <br>
						Dirección: <span class="art">calle y número</span> <br> <br>
						País: <span class="art">México </span><br> <br>
						Estado: <span class="art">D.F.</span> <br> <br>
						Municipio / Delegación: <span class="art">Municipio </span><br> <br>
						Ciudad: <span class="art">Ciudad</span> <br> <br>
						Código postal: <span class="art">12345</span> <br> <br>
					</p>
				</div>
				<div class="row">
					<p>
						<br>
						<span class="art">El Novio</span> <br> <br>
						Nombre: <span class="art">Nombre completo de la novia</span> <br> <br>
						Email: <span class="art">empresa@email.com</span> <br> <br>
						Teléfono oficina: <span class="art">(55)5555 5555</span> <br> <br>
						Teléfono celular: <span class="art">5555 5555</span> <br> <br>
						Dirección: <span class="art">calle y número</span> <br> <br>
						País: <span class="art">México </span><br> <br>
						Estado: <span class="art">D.F.</span> <br> <br>
						Municipio / Delegación: <span class="art">Municipio </span><br> <br>
						Ciudad: <span class="art">Ciudad</span> <br> <br>
						Código postal: <span class="art">12345</span> <br> <br>
					</p>
				</div>
				<br>
				<h1>
					Nuestra Contraseña
				</h1>
				<hr />
				<h5 class="art ma">
					Cambiar contraseña
				</h5>
				<br>
				<br>
				<br>
				<br>
			</div>
			
			
			


				
					 

						



{% endblock %}