{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="row">
				<div class="col-md-9">
				</div>
				<div class="col-md-3" style="text-align:right;">
					<img class="puntov" src="{{asset('img/puntov.png')}}" style="float:left; margin-right:20px;"><h1 style="float:left;">Nuestra cuenta</h1>	
				</div>	
			</div>

			<!-- NUESTROS DATOS -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-10">
						<h5 class="art" style="float:left;">Nuestros datos</h5>
					</div>
					<div class="col-xs-2">
						<h5 class="art" style="float:left;">Editar</h5>
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<!-- FIN NUESTROS DATOS -->

			<!-- Datos de la novia -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>La novia</i></p>
						Nombre: <span class="rosa">Nombre completo de la novia</span><br>
						E-mail: <span class="rosa">correo@electronico.com</span><br>
						Teléfono Oficina: <span class="rosa">(555) 555 555</span><br>
						Teléfono Celular: <span class="rosa">55 55 55 55</span><br>
						Dirección: <span class="rosa">Calle y número</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">D.F.</span><br>
						Municipio / Delegación: <span class="rosa">Municipio</span><br>
						Ciudad: <span class="rosa">Ciudad</span><br>
						Código Postal: <span class="rosa">12345</span><br>
					</div>
			</div>
			<!-- FIN DATOS DE LA NOVIA -->

			<!-- Datos del novio -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>El novio</i></p>
						Nombre: <span class="rosa">Nombre completo del novio</span><br>
						E-mail: <span class="rosa">correo@electronico.com</span><br>
						Teléfono Oficina: <span class="rosa">(555) 555 555</span><br>
						Teléfono Celular: <span class="rosa">55 55 55 55</span><br>
						Dirección: <span class="rosa">Calle y número</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">D.F.</span><br>
						Municipio / Delegación: <span class="rosa">Municipio</span><br>
						Ciudad: <span class="rosa">Ciudad</span><br>
						Código Postal: <span class="rosa">12345</span><br>
					</div>
			</div>
			<!-- FIN DATOS DEL NOVIO -->

			<!-- NUESTRA CONTRASEÑA -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-12">
						<h5 class="art" style="float:left;">Nuestra contraseña</h5>
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<span class="rosa"><i>Cambiar contraseña</i></span>
					</div>
			</div>

			<div class="row" style="margin-top:10px;">
					<div class="col-md-4">
						<input type="text" class="input_registro_novios" placeholder="Contraseña actual">
					</div>
					<div class="col-md-4">
						<input type="text" class="input_registro_novios" placeholder="Nueva contraseña">
					</div>
					<div class="col-md-4">
						<input type="submit" id="enviar_form" value="Cambiar">
					</div>
			</div>

			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<p>Define contraseña; ésta debe estar compuesta por 8 números y/o letras y NO debe haber 3 dígitos consecutivos (p.ej. 987 ó 123) ni repetidos (p.ej. 333)</p>
					</div>
			</div>
			<!-- FIN NUESTROS DATOS -->

			
			<!-- FIN DATOS DE LA CUENTA -->

			<br>
			<br>
			<br>
			<br>
			<br>


{% endblock %}